<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Películas CRUD</title>
</head>
<body>
    <header>
        <h1>Listado Películas</h1>
    </header>

    <section>
        <a th:href="@{/showNewPeliculaForm}">Añadir Película</a>
    </section>

    <section>
        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Director</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pelicula : ${listaPeliculas}">
                    <td th:text="${pelicula.titulo}"></td>
                    <td th:text="${pelicula.director}"></td>
                    <td><a th:href="@{/showFormUpdate/{id}(id=${pelicula.id})}">Actualizar</a></td>
                    <td><a th:href="@{/deletePelicula/{id}(id=${pelicula.id})}">Eliminar</a></td>
                </tr>
            </tbody>
        </table>
    </section>
</body>
</html>