<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Películas CRUD</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <h1>Listado Películas</h1>
    </header>

    <section class="contenedor-botonAdd">
        <a th:href="@{/showNewPeliculaForm}" id="#b-add">Añadir Película</a>
    </section>

    <section class="contenedor-tablaListado">
        <table class="tabla-listado">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Director</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pelicula : ${listaPeliculas}">
                    <td th:text="${pelicula.titulo}" class="tabla-celda"></td>
                    <td th:text="${pelicula.director}" class="tabla-celda"></td>
                    <td><a th:href="@{/showFormUpdate/{id}(id=${pelicula.id})}" class="botonT" id="b-actualizar">Actualizar</a></td>
                    <td><a th:href="@{/deletePelicula/{id}(id=${pelicula.id})}" class="botonT" id="b-eliminar">Eliminar</a></td>
                </tr>
            </tbody>
        </table>
    </section>
</body>
</html>