<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nueva Pelicula</title>
</head>
<body>
    <header>
        <h1>Nueva Película</h1>
    </header>

    <section>
        <form th:action="@{/savePelicula}" th:object="${pelicula}" method="post">
            <input type="text" th:field="*{titulo}" placeholder="Título"/>
            <input type="text" th:field="*{director}" placeholder="Director"/>
            <button type="submit">Guardar Película</button>
        </form>

        <a th:href="@{/}">Volver al listado</a>
    </section>
</body>
</html>