<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nueva Película</title>
    <link rel="stylesheet" href="/css/new_pelicula.css">
</head>
<body>
    <header>
        <h1>Nueva Película</h1>
    </header>

    <section class="contenedor-formulario">
        <form th:action="@{/savePelicula}" th:object="${pelicula}" method="post">
            <label>Título Película</label>
            <input type="text" th:field="*{titulo}" placeholder="Título"/>
            <label>Director</label>
            <input type="text" th:field="*{director}" placeholder="Director"/>
            <input type="submit" value="Añadir"/>
        </form>

        <a th:href="@{/}" id="b-volver">Volver al listado</a>
    </section>
</body>
</html>